{% extends "template.html" %}
    {% block contenido %}
    <div class="container-fluid fondo">  
      <br>
      <br>
      <br>
      <h2>Misión</h2>
      <br>
      <br>
      <p>Nuestra misión empresarial es construir una relación de confianza
        con los clientes que requieran elegancia y variedad en calzado deportivo,
          marroquineria, indumentaria y accesorios, para hombres exigentes,
          ofreciendo productos de calidad, a precios justos, con las mejores condiciones
            de pago y excelente servicio de atención por parte de sus dueños y empleados capacitados.
            Todo ello nos permite seguir creciendo en el tiempo de manera sostenida y reafirmar
              la permanencia de nuestra empresa familiar centenaria en el mercado, generando un
              adecuado retorno de la invresión.</p>
      <br>
      <br>
      <br>
      <h2>Visión</h2>
      <br>
      <br>
      <p>
        Calzados Athetic será en el futuro una empresa familiar consolidada,
        con personal profesionalizado y un proceso organizativo fortalecido y
          afianzado en todas las áreas, que comercializará en nuevos
          mercados a través de las actuales y nuevas sucursales ubicadas estratégicamente,
            cumpliendo con la plena satisfacción del cliente y una política de
            responsabilidad, respeto y cumplimiento hacia los proveedores y empleados.</p>  
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
    {% endblock %}