{% extends "template.html" %}
    {% block contenido %}
    <div class="container-fluid fondo">
      <br>
      <div class="row">
        <div class="col-12">
          <h1 class="text-center">Términos y condiciones</h1>
          <hr>
          <div class="container">
            <ul class="list-group list-group-flush">
              <li class="list-group-item fondo">Al realizar una orden por cualquiera de nuestros productos, el cliente acepta estar de acuerdo con estos términos y condiciones.</li>
              <li class="list-group-item fondo">Al realizar una compra en nuestra tienda online, el cliente garantiza ser mayor de edad o tener permiso de sus padres para realizar compras en nuestra tienda.</li>
              <li class="list-group-item fondo">Toda información personal de la que le cliente provea al vendedor o éste obtenga, sera administrada por le vendedor como responsable de la misma.</li>
              <li class="list-group-item fondo">Cualquier evento fuera del poder o control del vendedor se considerará de fuerza mayor.</li>
              <li class="list-group-item fondo">El precio aplicado a la compra es el que figure al momento de realizada la operación.</li>
              <li class="list-group-item fondo">Este sitio web pudiera contener enlaces a otros sitios que pudieran ser de su interés. Una ves que usted hace click en estos enlaces y abandone nuestra página, ya no tenemos control sobre el sitio al que es redirigido y por lo tanto no somos resposales de la protección de sus datos en estos otros sitios.</li>
            </ul>
          </div>
          <hr>
          <br>
        </div>
      </div>    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
  {% endblock %}